/* Register css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

:root {
  --body-color: #181818;             
  --register-paper-color: #D0CCCC45;     
  --title-color: #4A4E57;                
  --text-color: #4A4E57; 
  --button-active-background: linear-gradient(90deg, #3B82F6 0%, #2DD4BF 100%);
  --button-bg: #FFFFFF66;
  --button-hover-bg: linear-gradient(90deg, #3B82F6 0%, #2DD4BF 100%);
  --button-selected-text: #ffffff;
  --button-border-color: #444c56;
  --text-field-background: #FFFFFFB2;
  --base-font: 'Inter', sans-serif;
  --base-font-size: 13px;
}

body {
  background-image: url('../../assets/icons/registration-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: var(--base-font);
  font-size: var(--base-font-size);
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2%;
  width: 480px !important;
  margin-bottom: 2%;
}

.register-paper {
  padding: 20px;
  background-color: var(--register-paper-color) !important;
  font-size: var(--base-font-size);
}

.register-title {
  color: var(--title-color);
  margin: 0px 20px 10px 32% !important;
}

.login-title {
  color: var(--title-color);
  margin: 0px 50px 20px 50px !important;
  font-size: 20px !important;
}

.register-textfield {
  color: var(--text-color) !important;
  background-color: var(--text-field-background);
  border-radius: 6px !important;
  font-size: var(--base-font-size);
  margin-bottom: 6px !important;
}

.register-textfield input {
  font-size: var(--base-font-size) !important;
}

.register-subtitle {
  color: var(--title-color);
  font-size: var(--base-font-size);
}

.license-container {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  margin-top: 0;
  pointer-events: none;
}

.license-container.visible {
  max-height: 200px;
  opacity: 1;
  pointer-events: auto;
}

.register-submit-button {
  margin-top: 18px !important;
  background: var(--button-active-background) !important;
  color: var(--button-selected-text) !important;
  text-transform: none !important;
  font-size: var(--base-font-size);
  font-family: var(--base-font);
}

.register-login-link {
  color: var(--text-color);
  font-size: var(--base-font-size);
  margin-top: 10px !important;
}

.register-helper-text { 
  color: red !important;
  margin: -5px 0px 3px 0px !important;
  padding: 0px !important;
}

.register-stepper {
  color: var(--title-color) !important;
}

.register-paper .css-12eb3rq-MuiStepLabel-label.MuiStepLabel-alternativeLabel {
  margin-top: 5px;
  margin-bottom: 10px;
  color: var(--title-color);
}