SQLALCHEMY_DATABASE_URL=
CELERY_BEAT_URL=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_POOL_SIZE=
MAX_OVERFLOW=
POOL_RECYCLE=

REDIS_URL=

ZILLOW_API_KEY=
FREDDIE_MAC_API_KEY=
DEBUG=False

SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
ALGORITHM=